.user{position: absolute;left:0;top: 0;height:0;width:100%;background-size:cover;background-position: center center;
    background-repeat: no-repeat;background-color: #fff;border-bottom:1px solid #fff;
    z-index: 0;
}

.user_info{position: absolute;left:5%;top:20px;color: #fff;overflow: hidden;z-index: 0;}
#user_ava{width:43px;height:43px;border-radius: 50%;border:2px solid #fff;vertical-align: middle;z-index: 0;}

.select{margin-left:80%;margin-top:30px;color: #63a6f9;overflow: hidden; text-align: center;}
#select text{font-size: 32px;margin-right:26px;vertical-align: middle;}
#select_image{width:13px;height:8px;vertical-align: middle;margin-right:5%;}
#select_icon{width:13px;height:13px;vertical-align: middle;margin-right:2%;}

#fm-covermain{margin-top:130px;margin-left:25%;overflow: hidden;position: relative;z-index: 0;width:669px;height:539px;}
#fm-cmpic{position: absolute;left:0;top: 0;z-index: 0; opacity: 0;}
#fm-covermain.fadein{ animation:  fadein linear 1s; opacity: 1; transition:  all linear 1s}
#fm-covermain #fm-cmbg{margin:40px 90px ;width:350px;height: 350px;}

#fm-mdes{ text-align: center;color: #fff;line-height: 2;}
#fm-martist{font-size:24px; display: block;color: #eee}

.fm-fixed{position: absolute;left:0px;top:0px;width:669px;height: 400px;}
#fm-action{position: absolute;left:0;top: 0;height:0;width:100%;display: flex}
/*#fm-action div{position: absolute;left:0;top: 0;height:0;width:100%;}*/

.switchleft{position: absolute;left:150px;top:100px;color: #fff;overflow: hidden;z-index: 0;width: 30px;height:21px;}
.switchright{position: absolute;left:180px;top:10px;color: #fff;overflow: hidden;z-index: 0;width: 30px;height:21px;}
.switchmiddle{position: absolute;left:260px;top:300px;color: #fff;overflow: hidden;z-index: 0;width: 162px;height:80px;}

#title text{position: absolute;font-size: 30px;left:50px;margin-left:47px;margin-top:35px;color: #000}
#share_image{position:relative;margin-top:12px;margin-left:583px;}

#type_image{position: absolute;left:52px;top:52px;}

#musicName{flex: 1;text-align: center;position: absolute;left:0;top:34%;margin-left:10px;margin-top: -35px;width: 100%}
.musicName text{font-size: 30px;color: #b0b0b0}


#playing-status{display: flex;}
#playing-status{margin-left:58px;margin-top:230px;}
#play_time{margin-top:20px}
#endtime{margin-left:430px;color:#a2a7aa;}
#starttime{margin-left:-553px;color:#a2a7aa;}
.playprogress{ width:552px;margin: 0 auto;position: relative;border-radius: 4px;background: #63a6f9;}
.progresstext{position: absolute;display: block;height:8px;width: 9px;overflow: hidden;background-color: #63a6f9;box-shadow: 0 0 2px 2px #b0b0b0;
    border:8px solid #fff;border-radius: 50%;top:50%; transform: translate3d(-50%,-50%,0)}
#play_shot{color:#a2a7aa}

#types{margin-top:40px;display: flex}
#types image{width: 46px;height:46px;}
#types text{position: absolute;font-size: 23px;left:25%;top:100%;color: #b0b0b0;margin-top:8px;}


.types{width: 100%;height: 125px;padding-top:0px;margin-top:0;margin-left: 10px}
.stypes{float:left;text-align: center;position: relative;width:150px;margin-top:44px;}
.stypes image{width: 46px;height:46px;text-align:center;}
.stypes text{position: absolute;font-size: 24px;left:25%;top:70%;color: #b0b0b0;margin-top:8px;}
.st{
    z-index: 0;
    margin-top:30px;
    position: relative;
}


#subtypes{border-top:1px solid #efefef;margin-top:8px;z-index: 0;}

#typeleft{position: absolute;left:40px;top:160%;z-index: 0;}
#typeright{position: absolute;right:40px;top:160%;z-index: 0;}
#typemiddle{position: absolute;left:27%;width: 600px;top:115%;z-index: 0;}

#ok{position: relative;margin-left:560px;color:#71DB46;  z-index: 2;}
#cancel{position: relative;margin-left:5px;  z-index: 2; }

.sorting-list{
    margin-top: 500px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 4;
    font-size: 23px;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

/*.sorting-item {*/
    /*height: 67px;*/
    /*padding: 0 30px;*/
    /*line-height: 67px;*/
    /*z-index: 4;*/
    /*border-bottom: 1px solid #aaa;*/
    /*background-color: #fff;*/
/*}*/


.backgrounddiv {
    height: 67px;
    padding: 0 30px;
    line-height: 67px;
    z-index: 24;
    background-color: #fff;
}

.activebackgrounddiv{
    height: 67px;
    width:240px;
    margin-left:41.5%;
    line-height: 67px;
    background-color: #63a6f9;
    text-align: center;
    color:#fff;
}


.ensureitem {
    height: 67px;
    padding: 0 30px;
    line-height: 67px;
    z-index: 4;
    background-color: #fff;
}


.typescroll{
    z-index: 4;
    position: relative;
}

.mask{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 3;
}


